.map-animation-container {
  font-family: 'Open Sans', "Helvetica Neue", Arial,"Noto Sans",sans-serif;
  font-size:18px;
}
.regl-animation-legend {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.8s, opacity 0.8s linear;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 199px;
  padding: 5px;
  padding-top: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px; 
}
.regl-animation-label {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.8s, opacity 0.8s linear;

  position: absolute;
  padding: 4px;
  background-color: white;
  border: 1px solid black;
   border-radius: 5px; 
}
.regl-animation-chart-title {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.8s, opacity 0.8s linear;
  font-weight: bold;
  font-size: 20px;
}
#regl-chart-title-Y {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.regl-chart-label-x {
  background-color: unset;
  border: none;
}

.visible {
  opacity: 0.8;
  visibility: visible;
}
